#body {
 background-color: lightgray;
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
}

input{
    border: none;
    border-radius: 0;
    font-size: 16px;
}

#header{
    background-color: green;
    padding: 3%;

}
#title {
    font-size: 7vw;
    text-align: center;
}

#discounts {
    font-size: 4vw;
    width: 90%;
    margin-inline: 3.5%;
    border: solid lightgray 2px;
    margin-top: 10px;
    border-radius: 12px;
    padding: 2px;
    background-color: white;
}

.label{
    font-weight: 510; 
    margin-left: 4px;
}

#uberOne{
    background-color: aliceblue;
}

#delivery{
    -webkit-appearance: none;
    outline: none;
    max-width: 15%;
    border: none;
    border-bottom: solid black 2px;
    text-align: center;
    font-size: 4vw;
}

#delivery:disabled{
    background-color: lightgray;
    border-color: lightgray;
}

#discount{
    outline: none;
    border: none;
    border-bottom: solid black 2px;
    margin-bottom: 4px;
    width: 120px;
    text-align: center;
    font-size: 4vw;
    -webkit-appearance: none;
}

#orderEntry{
    font-size: 4vw;
    width: 90%;
    margin-inline: 3.5%;
    border: solid lightgray 2px;
    border-radius: 12px;
    padding: 2px;
    background-color: white;
}


#orderAmount{
    outline: none;
    width: 110px;
    border: none;
    border-bottom: solid black 2px;
    text-align: center;
    font-size: 4vw;
    -webkit-appearance: none;
}

#name{
    outline: none;
    border: none;
    border-bottom: solid black 2px;
    width: auto;
    font-size: 4vw;
    -webkit-appearance: none;
}

.button{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border-radius: 8px;
    font-size: 4vw;
    -webkit-appearance: none;
}

.subTitle{
    color: black;
    background-color: green;
    font-size: 6vw;
    justify-content: center;
    margin-top: 5px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    border-top: black solid 0.5px;
    border-bottom: black solid 0.5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#clear {
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-size: 4vw;
}

#container {
    font-size: 4vw;
    width: 90%;
    margin-inline: 3.5%;
    margin-top: 10px;
    border: solid lightgray 2px;
    border-radius: 12px;
    padding: 2px;
    background-color: white;
}

#entries{
    font-size: 4vw;
    border-left: solid black 0.5px;
    border-right: solid black 0.5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.totalDisplay{
    border-top: black dotted 1px;
    border-bottom: black solid 1px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
}

.entry {
    margin-left: 8px;
}

#results{
    font-size: 4vw;
    border-left: solid black 0.5px;
    border-right: solid black 0.5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

